<html>
<head>
    <style>
    </style>
</head>
<body>
<p>Hola {{name}},</p>
<p>Este es tu codigo secreto para cambiar la contraseña. No lo compartas con nadie.</p>
<p> {{codigo}}</p>
<p>Si no has solicitado el cambio de contraseña, puedes ignorar el email.</p>
<p>Saludos,</p>
<p>Equipo de Papis Felices</p>
</body>
</html>